div.big.pane {
  padding-left: 20px;
  width: 800px;
  margin-right: -50px;
}

/* CSS reset re: wikileaks */
#wikitldr h1, #wikitldr h2, #wikitldr span, #wikitldr a {
  color: inherit;
  margin: 0;
  padding: 0;
  float: none;
  font-size: inherit;
}
#wikitldr span {
  font-weight: inherit;
}

/* Global typography */
#wikitldr {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 3em 0 1em;
  line-height: 28px;
  font-size: 16px;
}

#wikitldr #note {
  background: #ffb;
  padding: 0.75em;
  margin: 1.5em 0;
}

/* Header */
#wikitldr #header {
  position: relative;
}

#wikitldr #header span.immediate {
  color: #c00;
}

#wikitldr #header span.priority {
  color: #ea0;
}

/* 3 info boxes */
#wikitldr #header hgroup h2 {
  width: 130px;
  padding: 0 10px;
  height: 48px;
  float: left;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
  background: #A0A0A0;
}

#wikitldr #header hgroup h2 a, #wikitldr #header hgroup h2 span {
  color: #fff;
}

/* Timestamp */
#wikitldr #header hgroup h2.time {
  padding: 8px 10px;
  width: 160px;
  height: 32px;
}

#wikitldr #header hgroup h2.time span {
  vertical-align: middle;
  font-weight: bold;
}

#wikitldr #header hgroup h2.time span.year {
  float: right;
  font-size: 32px;
  line-height: 32px;
}

#wikitldr #header hgroup h2.time span.monthday, #wikitldr #header hgroup h2.time span.time {
  float: left;
  clear: left;
  font-size: 15px;
  line-height: 16px;
}

#wikitldr #header hgroup h2.time span.time {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #eee;
}

/* Classification */
#wikitldr #header hgroup h2.classification, #wikitldr #header hgroup h2.reference {
  width: 150px;
  display: table;
}

#wikitldr #header hgroup h2.classification {
  background: #B0B0B0;
  text-transform: uppercase;
}
#wikitldr #header hgroup h2.classification.unclassified {
  background: #69D;
}
#wikitldr #header hgroup h2.classification.confidential {
  background: #FA3;
}
#wikitldr #header hgroup h2.classification.secret {
  background: #D13;
}

/* Classification / Reference 2-line alignment trick */
#wikitldr #header hgroup h2.classification span, #wikitldr #header hgroup h2.reference span {
  display: table-cell;
  width: 150px;
  height: 48px;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;  
}

#wikitldr #header hgroup h2.classification.secret span {
  line-height: 16px;
  font-size: 16px;
}

#wikitldr #header hgroup h2.reference {
  background: #C0C0C0;
}

/* Sidebar with map / metadata */
#wikitldr #header aside {
  float: right;
  width: 300px;
  font-size: 14px;
  color: #555;
  overflow: visible;
  margin-left: 20px;
}

#wikitldr #header aside section {
  float: left;
  width: auto;
  min-width: 300px;
  background: #eee -webkit-gradient(linear, 0% 50%, 0% 100%, from(#ddd), to(#fff));
}

#wikitldr #header aside iframe#map {
  width: 100%;
  height: 207px;
}

/* Metadata */
#wikitldr #header aside details {
  padding: 14px 0;
  display: block;
}

#wikitldr #header aside section dl {
  margin: 0;
  padding: 0;
}

#wikitldr #header aside section dt {
  float: left;
  width: 80px;
  text-align: right;
}

#wikitldr #header aside section dd {
  margin-left: 100px;
  margin-right: 10px;
}

#wikitldr #header aside section dd:nth-of-type(3) {
  line-height: 14px;
  padding-top: 7px;
}


#wikitldr #header aside section dd span {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 7px;
  display: inline-block;
}

/* Summary info */
#wikitldr #header > section {
  clear: left;
  padding: 1.75em 0 1.75em 10px;
  width: 480px;
}

#wikitldr #header section dl {
  margin: 0;
  padding: 0;
}

#wikitldr #header section dt {
  float: left;
  width: 80px;
  width: 50px;
  text-align: right;
  color: rgba(0, 0, 0, .5);
}

#wikitldr #header section dd {
  margin-left: 100px;
  margin-left: 70px;
  color: #555;
}

/* Tags */
#wikitldr #header section dt.tags, #wikitldr #header section dd.tags {
  margin-top: 28px;
}

#wikitldr #header section dd.tags span {
  background: #e0e0e0 -webkit-gradient(linear, 0% 50%, 0% 100%, from(#f0f0f0), to(#e0e0e0));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 10px;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
}

#wikitldr #header h1 {

  font-family: "Helvetica Neue", "Helvatica", "Arial", sans-serif;
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -1pt;
  margin-bottom: 1.166em;
  text-align: center;
  text-align: left;
}

/* Body */
#wikitldr #body {
  padding: 0 10px;
}

#wikitldr #body h2 {
  margin: 3em 0 1.5em;
}

#wikitldr #body p {
  margin: 1.5em 0;
  text-indent: 0;
}

#wikitldr #body span.redacted {
  background: rgba(0, 0, 0, .25);
  color: rgba(0,0,0,0);
}

#wikitldr #body p.secret,
#wikitldr #body p.confidential,
#wikitldr #body p.sensitive {
  padding: 1em 1.75em;
  margin: -1em -1.75em;
}

#wikitldr #body p.secret {
  background: rgba(221, 15, 45, 0.1);
  border-left: 3px solid rgba(200, 0, 0, 0.4);
}

#wikitldr #body p.confidential {
  background: rgba(255, 180, 25, 0.15);
  border-left: 3px solid rgba(240, 200, 0, 0.4);
}

#wikitldr #body p.sensitive {
  background: rgba(102, 153, 221, 0.15);
  border-left: 3px solid rgba(50, 150, 200, 0.4);
}
