<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Acko.net</string>
	<key>CFBundleDisplayName</key>
	<string>Wiki TL;DR</string>
	<key>CFBundleIdentifier</key>
	<string>net.acko.wikitldr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.1</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>wikitldr.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-1.4.4.min.js</string>
				<string>safari.js</string>
				<string>datasets.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://wikileaks.ch/cable/*</string>
			<string>http://213.251.145.96/cable/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Reformats WikiLeaks cables for optimal reading.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>wikileaks.ch</string>
				<string>213.251.145.96</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/unconed/WikiTLDR/raw/master/Update/WikiTLDR.plist</string>
	<key>Website</key>
	<string>http://www.acko.net/</string>
</dict>
</plist>
